
nav{
    color:#fff;
    font-family: Merriweather;
    font-style: normal;
    text-align: center;
}

.hny{
font-size: 32px;
font-weight: 400;
line-height: normal;
padding-top:207px;
margin-bottom: 0px;
}

.nyp{
font-size: 72px;
font-weight: 900;
line-height:85px;
padding-bottom: 320px;
padding-left: 344px;
padding-right: 344px;
margin-top: 15px;
}

nav{
    background-image:url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
}
header{
    margin: 50px 140px 0px 140px;
}
.first{
    margin: 140px 140px 140px 140px;
text-align: center;
font-family: Inter;
font-style: normal;
line-height: normal;
width: 1320px;
height: 900px;
}
.off{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.holiday{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.category{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}
.image{
    width: 802.9px;
    height: 500px;
}
.welcome{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    padding: 110px 10px 0px 126px;
}

.dolor{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 126px;
    margin-right: 30px;
}

.join{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left:158px;
    padding-bottom: 152px;
    background-color: transparent;
    border: none;
}

.second{
    margin: 140px 140px 140px 140px;
text-align: justify;
font-family: Inter;
font-style: normal;
line-height: normal;
width: 1320px;
height: 600px;
display: flex;
}
.group70{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 68px 138px 67px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;

}
div{
    background-image:url(../resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    border-radius: 4px;
    background-repeat: no-repeat;
}
.gradient{
    background: linear-gradient(to right ,black, transparent);
    color: #070211;
}